  <div class="housework">
    <h3>家事を作成する</h3>
    <%= form_with(model: @housework, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "タイトル" %>
      <%= form.text_area :manner, placeholder: "やり方" %>
      <%= form.submit "作成する" %>
    <% end %>
  </div>