<div class="top-container">
 <div class="top-item">
  <%= link_to "家事", houseworks_path, class: "btn-circle-flat" %>
  </div>
  <div class="top-item">
  <%= link_to "育児", "#", class: "btn-circle-flat" %>
  </div>
  <div class="top-item">
  <%= link_to "日記", "#", class: "btn-circle-flat" %>
  </div>
</div> 